<h3>Change Workout: <%= @workout.name %></h3>

<form action="/workouts/<%=@workout.id %>" method="POST">
  <label> Workout: </label>
  <input type="text" name="name" value="<%=@workout.name %>"> </br>
  <br>
  <br>
  <input type="submit" value="change">
</form>


<form method="post" action="/workouts/<%=@workout.id%>">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
<form>
