<h3><%= current_user.username%>'s Workout List:</h3>

<% current_user.workouts.each do |workout| %>
<ul>
  <li><%= workout.name %></li>
</ul>
  <br>
<% end %>

<a href="/workouts/new">Add Workout To Plan </a> | <a href="/logout">Logout</a>

<a href="/plans">Home</a>
<br>
<a href="/logout">Logout</a>
