<h3>All of <%= current_user.username%>'s Workouts:</h3>

<% current_user.workouts.each do |workout| %>
  <%= workout.name %><br />
  <a href="/workouts/<%=workout.id%>/edit">Edit Workout</a>
  <br />
  <br />
<% end %>
