<h3>Add Workout to Plan:</h3>

<form action="/workouts" method="POST">
  <label> Workout: </label>
  <input type="text" name="name">

  <select name="plan_id">
    <% current_user.plans.each do |plan| %>
      <option value=<%=plan.id %>><%= plan.name %></option>
    <% end %>
  </select>


  <input type="submit" value="Add Workout">
</form>
