<h3><%= @workout.name %></h3>
<br>
<a href="/workouts/<%=@workout.id%>/edit">Edit Workout</a> | <a href="/workouts/new">Add Workout</a> | <a href="/workouts">Back to Your Plans</a>
<br><br>
<a href="/plans">Home</a>
<br>
<a href="/logout">Logout</a>
