<h3> <%= current_user.username %>'s Workout Plans</h3>

<% current_user.plans.each do |plan| %>
  <ul>
    <li><h4><a href="/plans/<%=plan.id%>"><%= plan.name %></a></h4></li>
  </ul>
<% end %>

<a href="/plans/new">Create Plan</a>
<br>
<a href="/logout">Logout</a>
