<h3>Edit Workout Plan: <%= @plan.name %> </h3>

<form action= "/plans/<%=@plan.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" name="name" value="<%= @plan.name %>">
  <input type="submit" value="Change Plan Name">
</form>

<br>

<form method="post" action="/plans/<%=@plan.id%>">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Plan">
<form>
