<h1>Welcome <%= current_user.username%>!</h1>

<h2> Create Your Custom Workout Plan </h2>
<a href="/plans/new">Click Here</a>

<h3>All Workout Plans</h3>

<% @plans.each do |plan| %>
  <ul>
    <li><h3><a href ="/plans/<%=plan.id%>"><%= plan.name %></a></h3></li>
  </ul>
<% end %>
<br>

<a href="/logout">Logout</a>
